.extraction-library {
  table {
    .col-photo {
      width: 3%;
    }

    .col-firt-name {
      width: 16%;
    }

    .col-last-name {
      width: 5%;
    }

    .col-email {
      width: 8%;
    }

    .col-status {
      width: 3%;
    }

    .col-level {
      width: 3%;
    }

    .col-action {
      width: 8%;
    }
  }
}

.btn-accesses {
  padding: 8px;
}
