.container-large {
  width: 92%;
  margin: auto;
}

#filtering-box {
  padding: 15px;
  width: 100%;
  border: 1px solid black;
  background-color: #F1F1F1;
  margin: 15px 0;

  label {
    margin-bottom: 0;
  }

  input {
    max-width: 100%;
  }

  select {
    max-width: 100%;
  }

  .form-group {
    margin-bottom: 6px;
  }

  a, input.btn {
    margin-top: 8px;
  }
}

.index-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.extraction-buttons {
  margin-top: 15px;
}

.flex-index {
  display: flex;
  justify-content: space-around;
}

.active-filters-tags {
  padding: 15px 0;
}

.field-width {
  width: 25% !important;
}

.flex-search {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.btn-index {
  font-size: 11px;
  height: 29px;
}

.product-filter {
  height: 35px;
}

table {
  img {
    width: 120px;
    height: auto;
  }

  .col-photo {
    width: 10%;
  }

  .col-name {
    width: 26%;
  }

  .col-brand {
    width: 10%;
  }

  .col-sku {
    width: 8%;
  }

  .col-complete {
    width: 8%;
  }

  .col-price {
    width: 5%;
  }

  .col-stock {
    width: 8%;
  }

  .col-color {
    width: 10%;
  }

  .col-category {
    width: 10%;
  }
}
