#template-creation-form {
  padding: 15px;
  border: 1px solid black;
  background-color: #F1F1F1;
  margin: 15px 0;

  label {
    margin-bottom: 0;
  }

  input {
    max-width: 100%;
  }

  select {
    max-width: 100%;
  }

  .form-group {
    margin-bottom: 6px;
  }

  .bottom-buttons {
    margin-top: 10px;
  }

  .fa {
    margin-top: 30px;
    font-size: 25px;
  }
}

.template-creation-form h3 {
  font-size: 22px;
  margin: 0px;
}

.template-creation-form p {
  margin: 5px 0px 20px 0px;
}

.form-control {
  max-width: 100%;
}

.columns-select-boxes {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 30px;
}

.template-library-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}


