<div class="footer text-center">
  <div class="container">
    <ul class="list-inline">
      <li> <%= link_to 'Request a Demo', '#', class: "btn datagami-button-empty" %> </li>
      <li> <%= link_to 'Get Started', '#', class: "btn datagami-button-filled" %> </li>
    </ul>
    <hr>
    <%= image_tag "logo.png" %>
  </div>
</div>
