<div class="navbar-main">
  <div class="container">
    <div class="navbar-main-flex">
      <div>
        <%= link_to root_path, class: "navbar-main-brand" do %>
          <%= image_tag "logo-nav.svg" %>
        <% end %>
      </div>
      <div class="navbar-main-flex">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <div class="badge-container" style="margin-left:20px">
            <i class="fa fa-bell-o"></i>
            <div class="badge badge-brand">3</div>
          </div>
        <% else %>
          <!-- Login text link -->
          <%= link_to t(".login", default: "Login"), new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
