<div class="sub-navbar-box">
  <div class="sub-navbar-content tabs">
    <a class="tab active" data-target="#product" href="/product_index">
      <p>Product database</p>
    </a>
    <a class="tab" data-target="#search" href="/searches">
      <p>Searches</p>
    </a>
    <a class="tab" data-target="#template" href="/templates">
      <p>Templates</p>
    </a>
    <a class="tab" data-target="#extraction" href="/extractions">
      <p>Extractions</p>
    </a>
    <a class="tab" data-target="#user" href="#">
      <p>User profile</p>
    </a>
  </div>
</div>


