<div class="sub-navbar-box">
    <div class="sub-navbar-content tabs">
        <a class="tab" id="product_index" data-target="#product" href="/product_index">
          <p>Product database</p>
        </a>
        <a class="tab" id="search" data-target="#search" href="/searches">
          <p>Searches</p>
        </a>
        <a class="tab" id="template" data-target="#template" href="/templates">
          <p>Templates</p>
        </a>
        <a class="tab" id="extraction" data-target="#extraction" href="/extractions">
          <p>Extractions</p>
        </a>
        <% if current_user.access_level == 2 %>
          <a class="tab" id="accesses" data-target="#accesses" href="/accesses">
            <p>Manage accesses</p>
          </a>
        <% end %>
    </div>
</div>

<% content_for :after_js do %>
<script type="text/javascript">
    $(document).ready(function () {
        $(<%= @tab %>).addClass("active");
    })
</script>
<% end %>
