<div class="container faq">
  <h1>Frequently Asked Questions</h1>

  <h3>1. WHAT FILE FORMATS ARE SUPPORTED?</h3>
  <p>The Scalia Hub™ supports csv, excel, xml and pdf, of any size, up to 500MB per file. Such formats are available for imports and exports.</p>

  <h3>2. WHO CAN UPLOAD PRODUCT DATA?</h3>
  <p>Any member of your organization is able to upload and store. These assets will than be visible and usable by everyone in your company. Manufacturer & Brand members can choose to publish and share their product data with their community – agencies, suppliers, retailers, etc -  on a case by case, but Manufacturer & Brand members can never see the products of another Manufacturer & Brand.</p>

  <p>Retailers and distributors are encouraged to share their historical product data, which might include some of your products. Such data is clearly labelled as “non official” sources.</p>

  <p>Finally, on top of every user inputs, Scalia gather and consolidate data from various public sources and partnerships. Such data is available to the whole Scalia community.</p>

  <p>In any case, the source of any data points are traceable at any time.</p>

  <h3>3. HOW DO I MANAGE PRODUCT DATA ACCESSES?</h3>
  <p>A key point of the Scalia platform is its accesses dashboard. As an admin of your organization, you can grant various access levels to your coworkers and your business partners in order to give them read and write authorizations on various part of your catalog. For instance, certain team of your organization can be allowed to edit purely marketing content while you can grant access to your photo shotting partner to upload only media files.</p>

  <h3>4. HOW DO YOU STANDARDIZE MY DATA ?</h3>
  <p>Data standardization is the corner stone of the Scalia added value. In order to achieve it, we constantly try to map your product data across the 3 layers a master structure: categories, attributes and values. For example, a 501 levis jeans will be tagged as part of the “Apparel > Clothing > Bottom Wear > Trousers > Jeans” category. One of its attributes of such category will be “Cut style” and one of the possible value will be “Skinny”.</p>

  <p>Most of the mapping between your category tree, attributes and values will be done automatically thanks to our machine learning algorithm, but we might ask you to help us train it from time to time.</p>

  <p>Such mapping operates as a huge translation machine where anyone can maintain its own terminology while being understood by everyone else.</p>

  <h3>5. ARE THERE LIMITATIONS WITH THE FREE SCALIA HUB™?</h3>
  <p>At Scalia, we believe in open source. On the long run, we think that sharing your assets with the entire world will be more valuable to your brand than controlling ownership. Hence, releasing your assets under an open source license is 100% free.</p>

  <p>If it doesn’t fit your company policy, Scalia Hub is still free up to 1GB of storage. Once this limit reached, you can easily upgrade to a larger storage package.</p>

  <h3>6. HOW DO YOU VERIFY USERS?</h3>
  <p>Currently, all users of Scalia must have a working email address issued by a verifiable company that is properly associated with the retail or manufacturing industry. Here’s how it works behind the scenes: When the first employee of any company requests an account with Scalia, we manually verify the validity of the company and the email address entered at signup. As additional employees of that company sign up for an account, Scalia automatically verifies those employees by matching their email addresses back to the original member’s. If, for some reason, this system won’t work for you, feel free to contact us so that we can manually set you up.</p>

  <h3>7. IS THERE A COMMITMENT?</h3>
  <p>Absolutely not. Use it as much or as little as you like for as short or long as you like. Any time you want to cancel your account, just let us know by contacting us.</p>

  <h3>8. WHAT IF MY COMPANY ALREADY HAS A PIM (PRODUCT INFORMATION MANAGEMENT) AND/OR A DAM (DIGITAL ASSET MANAGEMENT SYSTEM)?</h3>
  <p>Scalia picks up where PIMs leave off! Think of Scalia as an industry-centralized transfer system that simplifies the exchange of product data. Our goal is not to replace PIMs or DAMs but to replace FTPs, CDs, email attachments, cloud storages or even sometimes USB sticks sent by mails... However, with the Scalia Plugins, you can extend the capabilities of the default Scalia Platform to become your PIM.</p>

  <h3>9. DO YOU SUPPORT VIDEO?</h3>
  <p>Yes, the free Scalia Hub™ supports video files (or any other file type!). We support all video codecs and formats (including .mp4 and .wmv, of course). Videos can also be previewed within Scalia.</p>

  <h3>10. CAN I SHARE ASSETS WITH NON-MEMBERS?</h3>
  <p>Absolutely! When you share an asset with someone who isn’t a member of Scalia, they’ll receive an email with a link to that asset (or group of assets) that allows them to access only what you want. When they click the link, they’re presented with a gallery of images in their browser. They can either download all of the product data you’ve prepared for them in a single zip file or they can select and download products individually. For non-members, links are valid for three days (72 hours). If the recipient signs up for a Scalia account within that period, the link won’t expire and will always be available to them in their account.</p>
</div>
