<div class="banner" style="background-image: linear-gradient(-225deg, rgba(203,79,79,0.6) 0%, rgba(6, 36, 57, 0.6) 50%), url(<%= image_path("home_page_banner.jpeg") %>)">
  <div class="banner-content">
    <h1>Connecting lifestyle brands and retailers through smarter product data</h1>
    <div class="banner-buttons">
      <a class="btn-home" href="#">Brands</a>
      <a class="btn-home" href="/product_index">Retailers</a>
    </div>
  </div>
</div>
