<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dpy7x8rgs/image/upload/v1477059040/fashion-app/home_page_banner_2.jpg');">
  <div class="banner-content">
    <h1>Connecting lifestyle brands and retailers through smarter product data</h1>
    <div class="banner-buttons">
      <a class="btn btn-primary btn-lg" href="#">Brands</a>
      <a class="btn btn-primary btn-lg" href="/product_index">Retailers</a>
    </div>
  </div>
</div>
