<div class="banner">
  <div class="banner-content">
    <h1>Connecting lifestyle brands and retailers through smarter product data</h1>
    <div class="banner-buttons">
      <a class="btn-home" href="#">Brands</a>
      <a class="btn-home" href="/product_index">Retailers</a>
    </div>
  </div>
</div>
