<div class="banner">
  <div class="banner-content">
    <h1><%= t('.home_tagline') %></h1>
    <div class="banner-buttons">
      <a class="btn-home" href="#">Brands</a>
      <a class="btn-home" href="/product_index">Retailers</a>
    </div>
  </div>
</div>
