  <div class="container-large">

    <!-- header -->
    <div class="index-page-header">
      <h1>Specific product page</h1>
      <div class="extraction-buttons">
        <a class="btn btn-primary">Generate extration</a>
      </div>
    </div>


    <div class="flex-index">

      <div class="product-description-top">
        <div class="thumbnail-images-carousel">

          <div class="thumbnail-img">

          </div>

        </div>
        <div class="active-image">

        </div>
        <div class="product-main-attributes-boxes">


            <!-- General table -->
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>General</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                  <tr>
                    <td><strong>Name</strong></td>
                    <td>{{ .Name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Gender</strong></td>
                    <td>{{ .Gender }}</td>
                  </tr>
                  <tr>
                    <td><strong>Color(s)</strong></td>
                    <td>{{ .Color }}</td>
                  </tr>
                  <tr>
                    <td><strong>Short product description</strong></td>
                    <td>TODO: short desc</td>
                  </tr>
                  <tr>
                    <td><strong>Long product description</strong></td>
                    <td>{{ range $i, $line := .Details -}}
                      {{ if ne $i 0 }}<br/>{{ end }}{{ $line }}
                    {{- end}}</td>
                  </tr>
              </tbody>

            </table>


            <!-- Identifiers table -->
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Identifiers</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                  <tr>
                    <td><strong>Product ID</strong></td>
                    <td>TODO: figure out</td>
                  </tr>
                  <tr>
                    <td><strong>{{ .Orig }} SKU</strong></td>
                    <td><a href="{{ .OrigUrl }}">TODO: fill</a></td>
                  </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>









      <div class="product-secondary-attributes-boxes">

        <!-- Table for images attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Images</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Primary image</strong></td>
                <td><a href="/img/{{ index .Images 0 }}">{{ index .Images 0 }}</a></td>
              </tr>
              <tr>
                <td><strong>Secondary images</strong></td>
                <td>{{ range $i, $img := .Images -}}
                  {{- if ne $i 0 -}}
                  <a href="/img/{{ $img }}">{{ $img }}</a><br/>
                  {{- end -}}
                {{ end }}</td>
              </tr>
          </tbody>
        </table>

        <!-- Table for brand attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Brand</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Brand name</strong></td>
                <td>{{ .Brand }}</td>
              </tr>
              <tr>
                <td><strong>Brand logo</strong></td>
                <td>TODO: image?</td>
              </tr>
              <tr>
                <td><strong>Brand description</strong></td>
                <td>TODO: desc?</td>
              </tr>
          </tbody>
        </table>

        <!-- Table for category attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Categories</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Category 1</strong></td>
                <td>{{ .Categ1 }}</td>
              </tr>
              <tr>
                <td><strong>Category 2</strong></td>
                <td>{{ .Categ2 }}</td>
              </tr>
              <tr>
                <td><strong>Category 3</strong></td>
                <td>{{ .Categ3 }}</td>
              </tr>
          </tbody>
        </table>

        <!-- Table for sizes attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Sizes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>UK Sizes</strong></td>
                <td>{{ range $i, $size := .Sizes -}}
                  {{ if ne $i 0 }}, {{ end}}{{ $size }}
                {{- end }}</td>
              </tr>
              <tr>
                <td><strong>EU Sizes</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>US Sizes</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Measurements attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Weight</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Fit</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Length</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Width</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for materials attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Materials</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>External material</strong></td>
                <td></td>
              </tr>
          </tbody>
          <tbody>
              <tr>
                <td><strong>Inner material</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Style attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Style</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Season</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Year</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Collection</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Style</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Fabrication attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Fabrication</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Country of production</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Logistics attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Logistics</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Package length</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Package height</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Package width</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Cleaning attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Washing & Ironing</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Washing recommandation</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Ironing recommandation</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Prices attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Prices</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Recommanded retail prices in UK</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Recommanded retail prices in France</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Recommanded retail prices in Spain</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

      </div>
  </div>
